/*
Name: 			Examples - Mouse Hover Split
Written by: 	Okler Themes - (http://www.okler.net)
Theme Version:	9.9.0
*/
.mouse-hover-split {
		min-height: 300px;
}

.mouse-hover-split .side {
		display: grid;
		min-height: 300px;
		overflow: hidden;
		place-items: center;
		position: absolute;
		width: 100%;
		text-align: center;
}

.mouse-hover-split .side h2 {
		margin: 0px 10vw;
		width: 80vw;
		text-align: center;
}

.mouse-hover-split .side-left {
		width: 60%;
		z-index: 2;
}
